.grid {
    display: inline-block;
    border: 1px solid lightsteelblue;
    /* border-radius: 5px; */
    width: 25px;
    height: 25px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    transition: backgroud-color, 500ms;
}

.rows {
    height:25px
}

.grid.path {
    background-color: blue;
}

.grid.start {
    background-color: greenyellow;
}

.grid.goal {
    background-color: red;
}

.grid.searching {
    background-color: yellow;
}

.grid.found {
    background-color: black;
}

.grid.wall {
    background-color: grey;
}

