.grid {
    display: inline-block;
    border: 2px solid lightslategray;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    margin: 0 0 0 1px;
    transition: backgroud-color, 500ms;
}

.grid.start {
    background-color: greenyellow;
}

.grid.goal {
    background-color: red;
}

.searching {
    background-color: yellow;
}

.grid.goal.found {
    background-color: black;
}

.grid.wall {
    background-color: grey;
}